
@{
    ViewBag.Title = "DemoForm";
}

<h2>DemoForm</h2>

<form method="post">
    請輸入數字：
    <p>
        <input type="text" name="txtA" /> + <input type="text" name="txtB" /> = @ViewBag.ANS
    </p>
    <p>
        <input type="submit" value="OK" />
    </p>
</form>